client-ws/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8686/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionEuroToDh">
<part name="parameters" element="tns:ConversionEuroToDh"/>
</message>
<message name="ConversionEuroToDhResponse">
<part name="parameters" element="tns:ConversionEuroToDhResponse"/>
</message>
<message name="listAccounts">
<part name="parameters" element="tns:listAccounts"/>
</message>
<message name="listAccountsResponse">
<part name="parameters" element="tns:listAccountsResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="BankAccountService">
<operation name="ConversionEuroToDh">
<input wsam:Action="http://ws/BankAccountService/ConversionEuroToDhRequest" message="tns:ConversionEuroToDh"/>
<output wsam:Action="http://ws/BankAccountService/ConversionEuroToDhResponse" message="tns:ConversionEuroToDhResponse"/>
</operation>
<operation name="listAccounts">
<input wsam:Action="http://ws/BankAccountService/listAccountsRequest" message="tns:listAccounts"/>
<output wsam:Action="http://ws/BankAccountService/listAccountsResponse" message="tns:listAccountsResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BankAccountService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankAccountService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="BankAccountServicePortBinding" type="tns:BankAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankAccountServicePort" binding="tns:BankAccountServicePortBinding">
<soap:address location="http://localhost:8686/"/>
</port>
</service>
</definitions>